$mainColor: #FF6060;
$backgroundColor: #F6F6F6;

$maxWidth: 600px;

#root {
  padding:0;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  @media (max-width: $maxWidth) {
    font-size: 12px;
  }
}

p, h2, ul{
  margin:0;
  padding: 0;
}

.orangeText{
  color:$mainColor
}

a{
  text-decoration: none;
  color: black;
}

.errorPage{
  color: $mainColor;
  text-align: center;
  margin-top:100px;
  margin-bottom:100px;
  .error404{
    font-size: 228px;
    @media (max-width: $maxWidth) {
      font-size:96px;
    } 
  }
  .errorText{
    font-size: 36px;
    margin-bottom: 100px;
    @media (max-width: $maxWidth) {
      font-size:18px;
    } 
  }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:100px;
  margin-left: 100px;
  .navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 57px;
    @media (max-width: $maxWidth) {
      gap:15px;
    }
    a{
    text-decoration: none;
    color: black;
    @media (max-width: $maxWidth) {
      text-transform: uppercase;
    }
    }
  }
  img{
    width:210px;
    @media (max-width: $maxWidth) {
      width: 150px;
    }
  }
  @media (max-width: $maxWidth) {
    margin-left: 15px;
    margin-right:15px;
  }
}

main{
  margin-right:100px;
  margin-left: 100px;
  .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    border-radius: 16px;
    height: 223px;
    overflow: hidden;
    @media (max-width: $maxWidth) {
      height: 111px;
    }
    .banner__text{
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 48px;
      color:white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      @media (max-width: $maxWidth) {
        font-size: 24px;
        text-align: left;
      }
    }
  }
  .accomodationGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $backgroundColor;
    border-radius: 16px;
    margin-top: 30px ;
    margin-bottom: 30px;
    padding: 50px;
    gap: 50px;
    @media (max-width: $maxWidth) {
      padding: 0px;
      gap: 20px;
      background-color: white;
    }
    .accomodationGalleryCard{
      display: flex;
      flex-direction: column;
      width: 30%;
      min-width: 340px;
      position: relative;
      @media (max-width: $maxWidth) {
        width: 100%;
      }
      .cardImage{
        border-radius: 16px;
        height: 340px;
        object-fit: cover;
        @media (max-width: $maxWidth) {
          height: 255px;
        }
      }
      .photoSubTitle{
        margin-left: 20px;
        width: 80%;
        position: absolute;
        bottom: 10px;
        color: white;
        background: rgba(30, 30, 30, 0.30);
        border-radius: 16px;
        padding: 10px;
      }
    }
  }
  @media (max-width: $maxWidth) {
    margin-left: 15px;
    margin-right:15px;
  }
}

.aProposMain{
  margin-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  @media (max-width: $maxWidth) {
    padding: 0;
    margin-top: 15px;
  }
}

.cbContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media (max-width: $maxWidth) {
    margin-bottom: 10px;
  }

  .cbHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    height: 42px;
    h2{
      font-size: 18px;
      font-weight: 700;
      @media (max-width: $maxWidth) {
        font-size: 13px;
      }
    }
    @media (max-width: $maxWidth) {
      height: 22px;
    }
  }
  .cbContent{
    background-color: $backgroundColor;
    border-radius: 10px 10px 5px 5px;
    padding: 20px;
    p, li{
      font-size: 18px;
      font-weight: 500;
      list-style: none;
      @media (max-width: $maxWidth) {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.accomodationPage{
  width: 100%;
  margin-bottom: 50px;
  .slideshow{
    position: relative;
    margin: auto;   
    height: 450px;
    overflow: hidden; 
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    @media (max-width: $maxWidth) {
      height: 255px;
      margin-bottom: 20px;
    }
    .slideshowNav{ 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .slideshowArrow{
        @media (max-width: $maxWidth) {
          width: 24px;
        }
      }
      .slideshowCounter{
        display: inline-flex;
        align-items: flex-end;
        color: $backgroundColor;
        font-size: 18px;
        height: inherit;
        padding-bottom: 50px;
        @media (max-width: $maxWidth) {
          display: none;
        }
      }
    }
    .displayedImage{
      position: relative;
      width: 100%;
      height: 450px;
      object-fit: cover;
      border-radius: 25px;
      @media (max-width: $maxWidth) {
        height: 255px;
        border-radius: 10px;
      }
    }
  }

  .accomodationInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    @media (max-width: $maxWidth) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    .accomodationKeyInfo--Title{
      grid-area: 1 / 1 / 2 / 2;
      align-self: center;
      @media (max-width: $maxWidth) {
        grid-area: 1 / 1 / 2 / 3;
      }
      h2{
        color: $mainColor;
        font-size: 36px;
        font-weight: 500;
        @media (max-width: $maxWidth) {
          font-size: 18px;
        }
      }
      p{
        font-size: 18px;
        @media (max-width: $maxWidth) {
          font-size: 14px;
        }
      }
    }
    .hostInfo{
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      @media (max-width: $maxWidth) {
        grid-area: 3 / 2 / 4 / 3;
      }
      img {
        border-radius: 100%;
        width: 64px;
      }
      .hostName{
        width: 30%;
        text-align: right;
        @media (max-width: $maxWidth) {
          font-size: 12px;
        }
      }
    }
    .accomodationTags{
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      justify-self: flex-start;
      align-self: center;
      gap: 10px;
      @media (max-width: $maxWidth) {
        grid-area: 2 / 1 / 3 / 3; 
      }
      .tag{
        background-color: $mainColor;
        border-radius: 10px;
        width: 115px;
        height: 25px;
        font-size: 14px;
        text-align: center;
        color: white;
        font-weight: 700;
        padding-top: 2.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        @media (max-width: $maxWidth) {
          width: 84px;
          font-size: 10px;
          height: 18px;
        }
      }
    }
    .stars{
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      justify-content: flex-end;
      align-self: center;
      @media (max-width: $maxWidth) {
        grid-area: 3 / 1 / 4 / 2; 
        justify-content: flex-start;
        align-self: center;
      }
      .star{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        @media (max-width: $maxWidth) {
          width: 18px;
          height: 18px;
        }
      }
    }

  }
  .accomodationDetails{
    display: flex;
    gap: 80px;
    margin-top: 20px;;
    @media (max-width: $maxWidth) {
      flex-direction: column;
      gap: 10px
    }
    .cbContainer{
      width: 50%;
      @media (max-width: $maxWidth) {
        width: 100%;
      }
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
  @media (max-width: $maxWidth) {
    padding-left:120px;
    padding-right: 120px;
  }
  img{
    width: 122px;
  }
}